<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>鬼魅影院</title>
  <link rel="shortcut icon" href="/images/0.jpg">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/css.css">

  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/myjs.js"></script>
  <script src="https://cdn.bootcss.com/masonry/4.1.1/masonry.pkgd.min.js"></script>
</head>
<body>
  <% include head %>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <embed src="http://player.video.qiyi.com/c8d9a6d2b3009b439aceacdd0b88a268/0/0/w_19ru568b5h.swf-albumId=7912022809-tvId=7912022809-isPurchase=0-cnId=28" allowFullScreen="true" quality="high" width="700" height="550" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
          </div>
          <div class="col-md-5">
            <dl class="dl-horizontal">
              <dt>电影名子
                <dd></dd>
              </dt>
              <dt>导演
                <dd></dd>
              </dt>
              <dt>国家
                <dd></dd>
              </dt>
              <dt>语言
                <dd></dd>
              </dt>
              <dt>上映年份
                <dd></dd>
              </dt>
              <dt>简介
                <dd></dd>
              </dt>
            </dl>
          </div>
        </div>
      </div>

  <% include foot %>
</body>
</html>
