<!-- 页底 -->
<div class="container-fluid" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-２ col-sm-4 col-xs-6">
        <h3>评价意见</h3>
        <p>提交地址：想破脑袋找不到的地方，欢迎来访。 <br>
          提交邮箱：zhaobud@.com</p>
        </div>
        <div class="col-md-２ col-sm-4 col-xs-6">
          <h3>评联系方式</h3>
          <p>ＱＱ：８８６８８６ <br>
            电话：１３４７４１７４１８８</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about">
              <H3>关于我们</H3>
              <p>
                我们是一支充满激情的团队，年轻，不失创意。我们将带着极大的热情去打造完美的课程体系，让您感受到我们无限的创意。
              </p>
              <p>
                我们是一支出神入化的团队，局对放您在我们的影院找到你想看的电影，超清视频。
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>
        <div class="row p-info">
          <i class="glyphicon glyphicon-film"></i>鬼魅电影院
        </div>
        <br>

      </div>
    </div>
