<!-- 标题 -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle btn btn-primary" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="fa fa-bars fa-1x"></span>
      </button>
    </div>
    <a class="navbar-brand navbar-collapse collapse" href="#">
      <i class="fa fa-codepen fa-1x"> 影音</i>
    </a>
    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"> 首页</a></li>
        <li><a href="#student">电影</a></li>
        <li><a href="#info">VIP</a></li>
        <li><a href="#footer">筛选</a></li>
      </ul>
    </div>
  </div>
</nav>
