<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>鬼魅电影</title>
  <link rel="shortcut icon" href="/images/0.jpg">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/css.css">

  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/myjs.js"></script>
  <script src="https://cdn.bootcss.com/masonry/4.1.1/masonry.pkgd.min.js"></script>
</head>
<body>
  <% include head%>
  <div class="container">
    <table class="table table-bordered">
      <tr>
        <th>电影名字</th>
        <th>导演</th>
        <th>国家</th>
        <th>上映年份</th>
        <th>查看</th>
        <th>更新</th>
        <th>删除</th>
      </tr>
      <tr>
        <td>好啊好啊</td>
        <td>呵呵</td>
        <td>中国</td>
        <td>2013</td>
        <td><a href="#">查看</a></td>
        <td><a href="#">修改</a></td>
        <td><button type="button" class="btn btn-danger">删除</button></td>
      </tr>
    </table>
  </div>
</body>
</html>
